# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.*

# VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Alembic cache
*.db

# Node (future frontend)
node_modules/

# Python build
build/
dist/
*.egg-info/