# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.*
!.env.supa.example

# VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Alembic cache
*.db

# Node (future frontend)
node_modules/

# Python build
build/
dist/
*.egg-info/

# local environments
.venv/
.local-storage/
.codex/
